/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

 .tagging
 {
 	text-decoration:none;
 }

.colorful
{
background-image:url('Light-Blue-Tumblr-Backgrounds-2013.jpg');
height: 1000px;
background-repeat:no-repeat;
}

 .sign_in
{
background-image:url('89918.jpg');
height: 1000px;
background-repeat:no-repeat;
}

.font_head
{
	margin-top: -2px;
	margin-left: 5px;
	font-family: 'Monoton', cursive;
}

 .show
{
background-image:url('background2.jpg');
height: 1000px;
background-repeat:no-repeat;
}

 .new_activ
{
background-image:url('surf.jpg');
background-repeat:no-repeat;
}

 .bike
{
background-image:url('thumbs_warren-b-800.jpg');
max-width: 100%;
height: 27em;

}

 .run
{
background-image:url('running-360x360.jpg');
max-width: 100%;
height: 27em;
}

 .swim
{
background-image:url('michael-phelps_0.jpg');
max-width: 100%;
height: 27em;
}

 .racquetball
{
background-image:url('CRC_110607_sm066_filtered.jpg');
max-width: 100%;
height: 27em;
}

