/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree .
 */


 .bike
{
background-image:url('thumbs_warren-b-800.jpg');
height: 27em;
}

 .run
{
background-image:url('running-360x360.jpg');
height: 27em;
}

 .swim
{
background-image:url('michael-phelps_0.jpg');
height: 27em;
}

 .racquetball
{
background-image:url('CRC_110607_sm066_filtered.jpg');
height: 27em;
}

